<ion-view title="Page" hide-nav-bar="true" id="page2" style="background-color:#FFFFFF;">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <form id="page-form1" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Desde">
            </label>
        </form>
        <form id="page-form2" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Hasta">
            </label>
        </form>
        <a ui-sref="rutas" id="page-button1" class=" button button-positive  button-block ">Buscar Líneas →</a>
        <div style="margin-left: -10px; width: calc(100% + 20px);">
            <img src="img/NT0RLHhcSFuZkNlc7nUl_Captura de pantalla 2016-08-16 a las 1.55.55 PM.png" width="100%" height="100%" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>