<ion-view title="Rutas" id="page4">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="rutas-card22">
            <ion-item class="item-icon-left  " id="rutas-list-item3" ui-sref="rutaA">
                <i class="icon ion-android-bus"></i>Ruta A - Línea NM-38</ion-item>
            <div class=" item item-image">
                <img src="img/JIsQDmrSxiY4UbuHaMAg_65053.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-item class="item-icon-left assertive  " id="rutas-list-item4">
                <i class="icon ion-alert"></i>2 carros hasta tu destino</ion-item>
        </div>
        <div class="list card " id="rutas-card21">
            <ion-item class="item-icon-left  " id="rutas-list-item5">
                <i class="icon ion-android-bus"></i>Ruta B - Metropolitano</ion-item>
            <div class=" item item-image">
                <img src="img/VQADaudRTYiAMfqHhaoM_120745.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-item class="item-icon-left assertive  " id="rutas-list-item6">
                <i class="icon ion-alert"></i>3 carros hasta tu destino</ion-item>
        </div>
    </ion-content>
</ion-view>