<ion-view title="Ruta A" id="page5">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="rutaA-card23">
            <ion-item class="item-icon-left  " id="rutaA-list-item7">
                <i class="icon ion-android-arrow-dropright"></i>Línea NM-38</ion-item>
            <div class=" item item-image">
                <img src="img/eOhvvc2WQ4KB1pmdouTL_Captura de pantalla 2016-08-16 a las 2.18.26 PM.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <a ui-sref="page2" id="rutaA-button3" class=" button button-positive  button-block ">Compartir transporte</a>
            <div class="list card " id="rutaA-card24">
                <ion-item class="item-icon-left  " id="rutaA-list-item9">
                    <i class="icon ion-android-arrow-dropright"></i>Línea AB-12</ion-item>
                <div class=" item item-image">
                    <img src="img/eOhvvc2WQ4KB1pmdouTL_Captura de pantalla 2016-08-16 a las 2.18.26 PM.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>