nav.navbar {
  margin-bottom: 0px;
  min-height: 35px;
  z-index: 20;
}
nav.navbar .navbar-brand {
  padding: 4px 4px 0px 4px;
  height: 35px;
}
nav.navbar .navbar-nav > li > a {
  padding-top: 9px;
  padding-bottom: 9px;
  color: #bfbfbf;
}
nav.navbar .navbar-toggle {
  padding: 0px;
  padding-top: 1px;
}
.layout-bcrumbs {
  background-color: #333;
  height: 30px;
  z-index: 18;
  position: relative;
  overflow: hidden;
}
.layout-bcrumbs ul.breadcrumb {
  margin: 0px;
  padding: 6px 10px;
}
.layout-bcrumbs ul.breadcrumb li,
.layout-bcrumbs ul.breadcrumb li a {
  color: #bfbfbf;
  font-size: 11px;
}
.layout-bcrumbs ul.breadcrumb li.active,
.layout-bcrumbs ul.breadcrumb li.active a {
  color: #fff;
}
.layout-content {
  position: fixed;
  left: 0;
  top: 65px;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 10px 10px;
  z-index: 10;
}
.layout-content h1:first-child,
.layout-content h2:first-child,
.layout-content h3:first-child {
  margin-top: 0px;
}
.modal {
  top: 65px;
}
.modal .modal-header {
  background-color: #eeeeee;
}
.form-group label {
  font-weight: normal;
}
.form-group.required label {
  font-weight: bold;
}
.form-group.required label:before {
  content: "\f069";
  font-size: 0.7em;
  top: -3px;
  position: relative;
  color: #d9534f;
  font-family: FontAwesome;
}
.fa-cine:before {
  content: "\f008";
}
.fa-pay:before {
  content: "\f155";
}
.fa-identity:before {
  content: "\f007";
}
.fa-pass:before {
  content: "\f145";
}
.fa-gii:before {
  content: "\f085";
}
.fa-debug:before {
  content: "\f188";
}
.fa-rest:before {
  content: "\f0ad";
}
.crud-page-header {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #eeeeee;
  border: 1px solid #d5d5d5;
  padding: 10px 20px;
}
.crud-page-header h1,
.crud-page-header h2,
.crud-page-header h3,
.crud-page-header h4,
.crud-page-header h5,
.crud-page-header h6 {
  margin-top: 0px;
  margin-bottom: 5px;
}
.crud-page-header h1 {
  font-size: 24px;
}
.crud-grid-view {
  padding-top: 10px;
}
.crud-grid-view .summary {
  background-color: #1a1a1a;
  color: #bfbfbf;
  padding: 2px 8px;
}
.crud-grid-view > table.table {
  border-top: 1px solid #404040;
}
.crud-grid-view > table.table > thead > tr > th,
.crud-grid-view > table.table > tr > th {
  padding-top: 6px;
  padding-bottom: 6px;
  vertical-align: middle;
  background-color: #1a1a1a;
  border-color: #404040;
}
.crud-grid-view > table.table > thead > tr > th,
.crud-grid-view > table.table > tr > th,
.crud-grid-view > table.table > thead > tr > th a,
.crud-grid-view > table.table > tr > th a {
  color: #fff;
}
.crud-grid-view > table.table > thead > tr > th a.asc:after,
.crud-grid-view > table.table > tr > th a.asc:after,
.crud-grid-view > table.table > thead > tr > th a.desc:after,
.crud-grid-view > table.table > tr > th a.desc:after {
  content: "\f15d";
  font-family: FontAwesome;
  font-size: 12px;
  margin-left: 5px;
  color: #5bc0de;
}
.crud-grid-view > table.table > thead > tr > th a.desc:after,
.crud-grid-view > table.table > tr > th a.desc:after {
  content: "\f15e";
}
.crud-grid-view > table.table > tbody > tr > td,
.crud-grid-view > table.table > tr > td {
  padding-top: 7px;
  padding-bottom: 6px;
}
.crud-grid-view > table.table > tbody > tr:hover td,
.crud-grid-view > table.table > tr:hover td {
  background-color: #fce791;
  background-color: rgba(252, 231, 145, 0.4);
}
.crud-grid-view > table.table > tbody > tr:hover td:hover,
.crud-grid-view > table.table > tr:hover td:hover {
  background-color: rgba(252, 231, 145, 0.7);
}
.table .filters > td {
  padding: 0px;
  background-color: #1a1a1a;
  border-color: #4d4d4d;
  position: relative;
}
.table .filters > td .form-control {
  padding: 3px 6px;
  height: auto;
  border: 0px;
  background-color: #595959;
  color: #ccc;
}
.crud-nav-tabs {
  margin: 0px;
  padding-top: 10px;
}
.crud-form {
  padding-top: 10px;
}
.crud-form .fields .control-label {
  text-align: right;
  padding-top: 7px;
  padding-bottom: 7px;
}
.crud-form .fields .form-group {
  margin-bottom: 0px;
}
.crud-form .fields .form-group:before,
.crud-form .fields .form-group:after {
  content: " ";
  display: table;
}
.crud-form .fields .form-group:after {
  clear: both;
}
.crud-form .actionbar > div {
  padding-top: 8px;
  border-top: 1px solid #eeeeee;
}
.crud-form .actionbar .btn,
.crud-form .actionbar button {
  min-width: 80px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.crud-form .hint-block {
  font-size: 11px;
  color: #aaa;
}
.crud-modal-search .crud-form {
  padding-top: 0px;
}
.crud-modal-search .crud-form .form-group {
  width: 50%;
  float: left;
}
.crud-modal-add .crud-form {
  padding-top: 0px;
}
.crud-view-detail {
  padding-top: 10px;
}
.crud-view-detail .form-group {
  margin: 0px;
  padding-bottom: 2px;
}
.crud-view-detail .form-group .control-label {
  background-color: #eeeeee;
  padding-bottom: 8px;
}
.crud-view-detail .form-group .form-control-static {
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.crud-view-detail .form-group .not-set {
  color: #d5d5d5;
  font-style: italic;
}
.prices-title-color {
  background-color: #808080;
}
.prices-subtitle-color {
  background-color: #9f9f9f;
}
